<!-- Primary Meta Tags -->
<title>Gooey</title>
<meta name="title" content="Gooey">
<meta name="description" content="Gooey is a real-time chat application, fully open sourced and always looking for contributors.">
<link href="/style/style.css" rel="stylesheet">
<link href="/images/Gooey.png" rel="icon">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.gooey.xyz/">
<meta property="og:title" content="Gooey">
<meta property="og:description" content="Gooey is a real-time chat application, fully open sourced and always looking for contributors.">
<!--
    <meta property="og:image" content="">
-->

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.gooey.xyz/">
<meta property="twitter:title" content="Gooey">
<meta property="twitter:description" content="Gooey is a real-time chat application, fully open sourced and always looking for contributors.">
<!--
    <meta property="twitter:image" content="">
-->

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/241c57a42b.js" crossorigin="anonymous"></script>

<!-- Tailwind CSS 👀 -->
<link rel="stylesheet" href="/style/styles.css"></link>

<!-- Font Families -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 

<!-- Sockets -->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/sockets.js"></script>