<!DOCTYPE html>

<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>

    <body class="font-Poppins bg-gray-700">
        <%- include('./partials/sidebar.ejs') %>
    </body>
</html>