

<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>
    <body>
        <div class="discordApp">
            <div class="server">
                <img src="/images/Gooey-nobg-white.png" class="server--icon" width="45px">
                <div class="server--seperator"></div>

                <img class="server--icon active" src="https://dummyimage.com/50x50/63b6ff/ffffff&text=a">

                <div class="server--seperator"></div>
                <div class="server--icon">
                    <span class="fas fa-plus"></span>
                </div>
            </div>
            <div class="chatOuter">
                <div class="channels">
                    <nav>
                        <h3>asciidude's server</h3>
                        <span class="fas fa-chevron-down"></span>
                    </nav>
                    <div class="channels--list">
                        <div class="channels--list-item">
                            <div class="channels--list-header">
                                <h4><span></span>Text Channels</h4>
                            </div>
                            <div class="channels--list-content">
                                <div class="channels--list-content-item active">
                                    <span>#</span>
                                    <h5>general</h5>
                                </div>
                                <div class="channels--list-content-item">
                                    <span>#</span>
                                    <h5>sus</h5>
                                </div>
                                <div class="channels--list-content-item">
                                    <span>#</span>
                                    <h5>AGGHHHHH</h5>
                                </div>
                                <div class="channels--list-content-item">
                                    <span>#</span>
                                    <h5>hi</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="channels--userArea">
                        <div class="name">
                            <img class="userIcon" src="/images/no-pfp.png">

                            <div class="user">
                                <p class="h5">asciidude</p>
                                <span class="subText">#0001</span>
                            </div>
                        </div>
                        <div class="icons">
                            <i class="fas fa-cog"></i>
                        </div>
                    </div>
                </div>
                <div class="chat">
                    <nav>
                        <div class="header">
                            <span>#</span>
                            <h2>
                            general
                            <h2>
                        </div>
                        <div class="icons">
                            <a href="https://discord.gg/JMNaJrXMFq" class="fas fa-question-circle text-white text-decoration-none"></a>
                        </div>
                    </nav>
                    <div class="chat--inner">
                        <div class="messages">
                            <div class="messages--received">
                            </div>
                            <div class="messages--send">
                                <input type="text" placeholder="Input a message">
                            </div>
                        </div>
                        <div class="members">
                            <p>
                                <img src="/images/no-pfp.png" width="25" class="rounded-circle">
                                asciidude
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>