<!DOCTYPE html>

<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>

    <body class="bg-gray-800 font-Poppins text-white">
        <div class="flex flex-wrap">
            <div class="w-full sm:w-8/12 mb-10">
              <div class="container mx-auto h-full sm:p-10">
                <nav class="flex px-4 justify-between items-center">
                  <div class="text-4xl font-bold mt-2 sm:mt-0">
                    <img src="/images/Gooey.png" class="inline" width=35>
                    <p class="inline">Gooey<span class="text-blue-700">.</span></p>
                  </div>
                  <div>
                    <img src="https://image.flaticon.com/icons/svg/497/497348.svg" alt="" class="w-8">
                  </div>
                </nav>
                <header class="container px-4 lg:flex mt-10 items-center h-full lg:mt-0">
                  <div class="w-full">
                    <h1 class="text-4xl lg:text-6xl font-bold">Find <span class="text-blue-700">new friends</span> and chat in communities</h1>
                    <div class="w-20 h-2 bg-blue-700 my-4"></div>
                    <p class="text-xl mb-10">Gooey is a chat web application, built to be much faster and more enjoyable than other chat apps out there. If that hasn't sold you already, take a look for yourself!</p>
                    <button class="bg-blue-700 text-white text-2xl font-medium px-4 py-2 rounded shadow">Sign up</button>
                  </div>
                </header>
              </div>
            </div>
            <img src="https://i.pinimg.com/736x/16/79/48/167948f3a6eebfc51eade36b8a3c89ba.jpg" alt="Leafs" class="w-full h-48 object-cover sm:h-screen sm:w-4/12">
          </div>
    </body>
</html>