@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  color: white;
  background-color: rgb(25, 25, 25);
  font-family: "Heebo";
  margin: 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(15, 15, 15);
  padding: 1.7rem;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.space-r {
  margin-right: 10px;
}

.footer .space-r {
  margin-right: 5px;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.light-bold {
  font-weight: 500;
}

.light {
  font-weight: 100;
}

.title {
  font-weight: 900;
  line-spacing: 5px;
}

.subtitle {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 500;
}

.progress {
  width: 72%;
  margin: auto;
  border: 3px;
}

/* login page */

form {
  background-color: rgb(29, 29, 29);
  border-radius: 20px;
  text-align: center;
  margin: auto;
  padding: 15px;
  width: 55%;
}